.songText{
    font-size: 0.8em;
    font-weight: Light;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 1px #000;
}
.SongCover{
    height: 25vh;
}
.NowPlayingArt{
    max-width: 50vw;
    max-height: 20vh;
    margin: auto;
    border-radius: 25px;
}