.SongGrid {
    margin: 20px auto;
    align-items: center;
    width: fit-content;
    height: fit-content;
    display:grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-row: auto auto auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }